<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swoldier Itineraries</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Login_Style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Swoldier Itineraries</h1>
        
        <!-- Login Form -->
        <form id="loginForm" action="/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        
        <br>
        
        <!-- Create Account Link -->
        <a href="{{ url_for('create_account') }}" id="createAccount">Create New Account</a>
    
    
        <p><a href="{{ url_for('public_workoutdatabases') }}" id="workoutdatabase">Find Cool Workouts!</a></p>

</div>
</body>
</html>
